table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  vertical-align: middle;
  padding: 10px;
}

.rounded-div {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  margin: 20px 0;
  background-color: #f9f9f9;
}

.root {
  display: flex; /* Enables horizontal layout */
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.input {
  width: 50px;
  padding: 8px 10px;
  border: 1px solid #23ab5c;
  border-radius: 4px;
  font-size: 14px;
}

.box {
  width: 15px;
  height: 7.5px;
  border: 2px solid #333;
  padding: 20px;
  margin: 10px;
  background-color: #d0cdcd;
  border-radius: 15px;

  display: flex;
  justify-content: center; /* horizontal centering */
  align-items: center; /* vertical centering */
  text-align: center;
}

.betButton {
  width: 5px;
  height: 5px;
  border: 2px solid #f30909;
  justify-content: right;
  background-color: #f30909;
  cursor: pointer;
}

.table-data {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}
